.grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr);
	border: 5px solid yellowgreen;
	border-radius: 15px;
	grid-gap: 5px;
	justify-content: center;
	min-width: 350px;
	max-width: 500px;
	margin: 0 auto;
}

.card {
	border-radius: 5px;
	aspect-ratio: 1/1;
}

.card-hidden {
	background-color: #eee;
}

.reset-btn {
	border: none;
	border-radius: 10px;
	padding: 1rem;
	background-color: blue;
	color: white;
	margin-top: 1rem;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

h1 {
	text-align: center;
}
